*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-family: 'Montserrat', sans-serif;
}
